@model Grad_Project_G2.BLL.ViewModels.SessionViewModel

<div class="form-group">
    <label asp-for="CourseId"></label>
    <input asp-for="CourseId" class="form-control" />
    <span asp-validation-for="CourseId" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="StartDate" class="form-label"></label>
    <input asp-for="StartDate" type="datetime-local" class="form-control" />
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="EndDate" class="form-label"></label>
    <input asp-for="EndDate" type="datetime-local" class="form-control" />
    <span asp-validation-for="EndDate" class="text-danger"></span>
</div>